<div class="sticky-add-transaction">
  <p-button icon="pi pi-plus" [rounded]="true" (onClick)="showAddTransactionDialog()" class="mb-3"></p-button>
</div>

<p-dialog 
  header="Add Transaction" 
  [(visible)]="addTransactionDialogVisible" 
  [modal]="true" 
  [closable]="true"
  [style]="{width: '30vw'}"
  [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
  (onHide)="resetTransactionForm()"
>

  <div class="p-fluid">
    <div class="field">
      <label for="categoryId">Category</label>
      <p-dropdown 
        [options]="categories" 
        [(ngModel)]="newTransaction.categoryId" 
        optionLabel="name" 
        optionValue="id"
        placeholder="Select a category"
        id="categoryId"
      ></p-dropdown>
    </div>

    <div class="field">
      <label for="amount">Amount</label>
      <input pInputText type="number" [(ngModel)]="newTransaction.amount" id="amount" />
    </div>

    <div class="field">
      <label for="date">Date</label>
      <p-calendar [(ngModel)]="newTransaction.date" id="date" [showButtonBar]="true" [inline]="true" [showWeek]="true" dateFormat="yy-mm-dd"></p-calendar>
    </div>

    <div class="field">
      <label for="notes">Notes</label>
      <textarea pInputTextarea [(ngModel)]="newTransaction.notes" id="notes" rows="3"></textarea>
    </div>

    <div class="flex justify-content-end mt-3">
      <p-button label="Cancel" class="p-button-text mr-2" (onClick)="addTransactionDialogVisible = false"></p-button>
      <p-button label="Save" (onClick)="saveTransaction()" [disabled]="!isTransactionValid()"></p-button>
    </div>
  </div>
</p-dialog>


<div class="total-sales-container w-full flex flex-wrap justify-content-between">
        <p-card class="total-sales-card first-card col-6 lg:col-6 xl:col-3" header="Income">
            <div class="card mb-0 border-round-md">
                <div class="flex justify-content-between mb-3">
                    <div class="flex align-items-center">
                        <p-skeleton *ngIf="summaryLoading" width="10rem" height="2rem"/>
                        <span *ngIf="!summaryLoading" class="block text-white font-medium text-xl">{{financialSummary?.totalIncome}}</span>
                    </div>
                    <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-dollar text-white text-xl"></i>
                    </div>
                </div>
                <p-skeleton *ngIf="summaryLoading" width="15rem" height="2rem"/>
            </div>
        </p-card>
        <p-card class="total-sales-card second-card col-6 lg:col-6 xl:col-3" header="Expenses">
            <div class="card mb-0 border-round-md">
                <div class="flex justify-content-between mb-3">
                    <div class="flex align-items-center">
                        <p-skeleton *ngIf="summaryLoading" width="10rem" height="2rem"/>
                        <span *ngIf="!summaryLoading" class="block text-white font-medium text-xl">{{financialSummary?.totalExpense}}</span>
                    </div>
                    <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-white text-xl"></i>
                    </div>
                </div>
                <p-skeleton *ngIf="summaryLoading" width="15rem" height="2rem"/>
            </div>
        </p-card>
        <p-card class="total-sales-card third-card col-6 lg:col-6 xl:col-3" header="Savings">
            <div class="card mb-0 border-round-md">
                <div class="flex justify-content-between mb-3">
                    <div class="flex align-items-center">
                        <p-skeleton *ngIf="summaryLoading" width="10rem" height="2rem"/>
                        <span *ngIf="!summaryLoading" class="block text-white font-medium text-xl">{{financialSummary?.savings}}</span>
                    </div>
                    <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-wallet text-white text-xl"></i>
                    </div>
                </div>
                <p-skeleton *ngIf="summaryLoading" width="15rem" height="2rem"/>
            </div>
        </p-card>
        <p-card class="total-sales-card fourth-card col-6 lg:col-6 xl:col-3" header="Savings Rate">
            <div class="card mb-0 border-round-md">
                <div class="flex justify-content-between mb-3">
                    <div class="flex align-items-center">
                        <p-skeleton *ngIf="summaryLoading" width="10rem" height="2rem"/>
                        <span *ngIf="!summaryLoading" class="block text-white font-medium text-xl">{{financialSummary?.savingsRate}}</span>
                    </div>
                    <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-percentage text-white text-xl"></i>
                    </div>
                </div>
                <p-skeleton *ngIf="summaryLoading" width="15rem" height="2rem"/>
            </div>
        </p-card>
</div>

<div *ngIf="!isMobile" class="sales-totals-diagrams w-full flex flex-wrap justify-content-around">
        <!-- lg:w-6 xl:w-6 -->
        <div class="w-full flex flex-wrap justify-content-center overflow-auto mt-4 h-33rem">
            <p-carousel *ngIf="totalsDashboardData?.length > 0" [value]="totalsDashboardData" [numVisible]="1" [numScroll]="1" [ngStyle]="{width: '100%'}">
                    <ng-template pTemplate="header">
                        <div class="flex justify-content-between align-items-center w-full">
                            <p class="font-medium text-l">Sales Totals</p>
                            <p-dropdown [options]="intervals" [(ngModel)]="selectedSalesTotalsInterval" placeholder="Select Interval" (onChange)="loadTotals()"></p-dropdown>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="border-1 surface-border border-round m-2 p-3">
                            <p-skeleton *ngIf="salesTotalsLoading" class="w-full" height="20rem" />
                            <div *ngIf="!salesTotalsLoading" class="w-full flex flex-column">
                                <div *ngIf="item?.index == 1" class="text-sm">Average expenses per day: <span class="text-sm font-bold text-green-500">{{dailyExpenseAverage?.averageDailyExpense}}</span></div>
                                <!-- <div *ngIf="item.index == 1" class="text-sm">Average transactions per day: <span class="text-sm font-bold text-green-500">{{avgTransStr}}</span></div> -->

                                <div class="w-full flex flex-row">
                                    <div class="flex flex-column w-6">
                                        <!-- <div *ngIf="item?.index == 1" class="flex flex-row justify-content-around mt-3">
                                            <div class="flex flex-column justify-content-center">
                                                <div class="font-medium text-center">Transactions</div>
                                                <div class="font-bold text-center text-green-500"></div>
                                            </div> -->
                                            <!-- <div class="flex flex-column">
                                                <div class="font-medium text-center">Amount</div>
                                                <div class="font-bold text-center text-green-500">${{salesTotals?.total}}</div>
                                            </div> -->
                                        <!-- </div> -->

                                        <div class="flex flex-row justify-content-around mt-3">
                                            <div class="flex flex-column w-6 justify-content-center">
                                                <div class="font-medium text-center">{{item?.chartTitle}}</div>
                                                <p-chart type="pie" [data]="item?.chartData" [options]="item?.chartOptions" height="15rem" ></p-chart>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex w-6">
                                        <p-table [value]="item?.tableData" class="w-full h-15rem overflow-auto" [tableStyle]="{ 'width': '100%' }">
                                            <ng-template pTemplate="caption">
                                                <!-- <div class="font-medium text-gray-700 text-l"></div> -->
                                                 <div class="flex align-items-center justify-content-between">
                                                    {{item?.tableTitle}}
                            
                                                    <p-dropdown [options]="count" [(ngModel)]="selectedSalesTotalsCount" placeholder="Select Count" (onChange)="loadTotals()"></p-dropdown>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-row>
                                                <tr>
                                                    <td *ngFor="let column of item?.tableColumns">{{ row[column] }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </ng-template>
            </p-carousel>
        </div>
</div>

<div class="w-full flex flex-wrap justify-content-around">    
  <div class="w-full h-full lg:w-6 xl:w-6 flex flex-wrap justify-content-between mt-4 shadow-1 h-40rem mb-5">
            <p-skeleton *ngIf="lastTransactionsLoading" class="w-full" height="20rem" />

            <p-table *ngIf="!lastTransactionsLoading" [value]="lastTransactions" class="w-full h-full overflow-auto" [tableStyle]="{ 'width': '100%' }">
                <ng-template pTemplate="caption">
                    <!-- <div class="font-medium text-gray-700 text-l"></div> -->
                    <div class="flex align-items-center justify-content-between">
                        Recent Transactions

                        <span class="flex gap-5">
                            <p-dropdown [options]="count" [(ngModel)]="selectedTransactionsCount" placeholder="Select Count" (ngModelChange)="loadLastTransactions()"></p-dropdown>
                            <p-dropdown [options]="intervals" [(ngModel)]="selectedTransactionsInterval" placeholder="Select Interval" (ngModelChange)="loadLastTransactions()"></p-dropdown>
                        </span>
                        <p-button icon="pi pi-refresh" (onClick)="loadLastTransactions()"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="body" let-transaction>
                    <tr [ngStyle]="{ 'background-color': transaction.refs.category.color + '1A'}">
                        <!-- <td>{{ transaction.id }}</td> -->
                        <!-- <td>{{ transaction.userId }}</td> -->
                        <td>{{ transaction.transaction.date | date}}</td>
                        <td><i class="{{transaction.refs.category.icon}}"></i>   {{ transaction.refs.category.name }}</td>
                        <td>{{ transaction.transaction.amount }} {{transaction.refs.currency.code}}</td>
                    </tr>
                </ng-template>
            </p-table>
  </div>
</div> 

<div class="w-full flex flex-wrap justify-content-around">
  <!-- Income vs Expenses -->
  <div class="col-12 md:col-6">
    <div class="flex w-full">
      <p-button icon="pi pi-refresh" (onClick)="loadDailyExpenses()"></p-button>
    </div>
    <p-card header="Income vs Expense">
      <p-chart type="bar" [data]="monthlyIncomeExpensesData" [options]="barOptions"></p-chart>
    </p-card>
  </div>

  <!-- Line Chart of Daily Expenses -->
  <div class="col-12 md:col-6">
    <div class="flex w-full">
      <p-dropdown [options]="intervals" [(ngModel)]="selectedDailyExpensesInterval" placeholder="Select Interval" (ngModelChange)="loadDailyExpenses()"></p-dropdown>

      <p-button icon="pi pi-refresh" (onClick)="loadDailyExpenses()"></p-button>
    </div>
    <p-card header="Daily Expenses">
      <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions" />
    </p-card>
  </div>

  <!-- Top Category Expenses -->
  <div class="col-12 md:col-6">
    <div class="flex w-full">
      <p-dropdown [options]="intervals" [(ngModel)]="selectedTopCategoriesInterval" placeholder="Select Interval" (ngModelChange)="loadTopExpenseCategories()"></p-dropdown>

      <p-button icon="pi pi-refresh" (onClick)="loadTopExpenseCategories()"></p-button>
    </div>
    <p-card header="Full Category Expenses">
      <p-chart type="radar" [data]="catExpRadarData" [options]="catExpRadarOptions" />
    </p-card>
  </div>
</div>
