.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

::ng-deep .password-field .p-password {
    width: 100%;
    margin-bottom: 10px;

    .p-password-input {
        width: 100%;
    }
}